{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body style="background-image: url(l.png);">

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 mx-auto p-3 mb-2 bg-danger-subtle text-danger-emphasis shadow-lg p-3 mb-5 bg-body-tertiary rounde">
            <h2>LOGIN</h2>
            <form action="" method="POST">
              {% csrf_token %}

              {% if error_message %}
              <div class="alert alert-danger">
                {{error_message}}
              </div>
              {% endif %}
  
  
              {% if success %}
              <div class="alert alert-success">
                {{success}}
              </div>
              {% endif %}

                <!-- <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"><strong>Email</strong></label>
                  <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  id="one" placeholder="Enter your Email">
                  <div id="emailHelp" class="form-text">We'll  share your email with someone else.</div>
                </div> -->
                <div>
                  <label for="name"><strong>User Name</strong></label>
                  <input type="text" name="uname"><br><br>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"><strong> Password</strong></label>
                  <input type="password" name="upassword" class="form-control" id="exampleInputPassword1" id="two" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-danger"><strong class setting>LOGIN</strong></button>
                New User? <a href="/register">Register Here</a>
              </form>
            </div>
        </div>
    </div>
    

    
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>  
 
</body>
</html>